.image-list {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 50px;
    padding: 15px;
}

.img-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 10px;
    padding: 3px;
    background: #efefff;
}

.img-card{
    padding: 5px 15px;
    line-height: 1.5;
    box-shadow: 0 8px 16px 0 rgb(224, 224, 255);
}

img {
    max-width: 300px;
    max-height: 300px;
    padding: 5px;
}